* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
}

.dashboard-container {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
}

.left-dashboard {
    height: 100vh;
    width: 20%;
    border-right: 1px solid #ccc; 
    display: flex;
    flex-direction: column;    
    align-items: center; 
    padding: 20px;  
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-pic-container {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px; 
}




