* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muli, ui-sans-serif, Satoshi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.space-container{
    height: 100vh;
    width: 100%;
    background-color: #04060E;
}