*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.signup-container{
    height: 100vh;
    width: 100%;
    background-image: repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 20px,transparent 20px, transparent 21px),repeating-linear-gradient(90deg, rgb(255,255,255) 0px, rgb(255,255,255) 20px,transparent 20px, transparent 21px),linear-gradient(90deg, rgb(51, 134, 95),rgb(81, 113, 127));
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-card{
    height: 82%;
    width: 40%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #E0E2E9;
    border-radius: 10px;
}

.signup-card h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.signup-card form {
    display: flex;
    flex-direction: column;

}

.signup-card input[type="text"],
.signup-card input[type="email"],
.signup-card input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-card h4 {
    margin-bottom: 10px;
    color: #555;
}

.signup-card div {
    margin-bottom: 10px;
}

.signup-card input[type="radio"] {
    margin-right: 10px;
}

.signup-card label {
    font-size: 14px;
    color: #333;
}

.signup-card button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.sign-in{
    margin-top: 15px;
    text-align: center;
}

.sign-in p .signup-span {
    text-decoration: none;
  }

  .sign-in p .signup-span a {
    text-decoration: none; 
    color: #23AF53;
  }
  
  